<%- include ("./partials/header") %>

<div class="container d-flex flex-column justify-content-center align-items-center border rounded p-5">
	<div>
		<h1>
			Login
		</h1>
	</div>
	<form action="/login" method="POST" class="d-flex flex-column w-sm-100 w-75 gap-3">
		<div>
			<label for="username" class="form-label">Username</label>
			<input type="text" name="username" id="username" placeholder="Username" class="form-control">
		</div>
		<div>
			<label for="password" class="form-label">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" class="form-control">
		</div>
		<input type="submit" value="Login" class="btn btn-success">
	</form>
</div>


<%- include ("./partials/footer") %>
