<%- include ("../partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align: center;">
			Create a New Campground
		</h1>
		<div style="width: 50%; margin: 30px auto;">
			<form action="/campgrounds" method="POST" class="d-flex flex-column gap-3">
				<div class="form-group">
					<label for="name" class="form-label">Name</label>
					<input class="form-control" type="text" placeholder="Tahoe Lake" name="name" id="name">
				</div>
				<div class="form-group">
					<label for="price" class="form-label">Price</label>
					<input class="form-control" type="number" placeholder="$20.00" name="price" min="0.01" step="0.01" id="price">
				</div>
				<div class="form-group">
					<label for="image" class="form-label">Image</label>
					<input class="form-control" type="text" placeholder="https://www.image-url.com" name="image" id="image">
				</div>
				<div class="form-group">
					<label for="description" class="form-label">Description</label>
					<input class="form-control" type="text" placeholder="Description" name="description" id="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">
					Submit!
					</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>
	</div>
</div>

<%- include ("../partials/footer") %>